/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 170%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}

/* CUSTOM PROJECT VARIABLES */
:root {
  --section-margin: 40px;

  --style-red: #ff2222;
  --style-lightgray: #d2d2d2;
  --style-gray: #9f9f9f;
  --style-brown: #790404;

  /* FONT SIZES IN REM */
  --fs-10: 0.625rem
  --fs-13: 0.812rem
  --fs-16: 1rem
  --fs-20: 1.25rem
  --fs-25: 1.562rem
  --fs-31: 1.938rem
  --fs-39: 2.438rem
  --fs-49: 3.062rem
  --fs-61: 3.812rem
}
.container-all{
  padding: 0px 20px;
}
/* REUSABLE CLASSES AND SUCH */
.red {
  color: var(--style-red);
}
.bold {
  font-weight: bold;
}
