/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  line-height: 170%;
}
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  margin-inline: auto;
}

/* CUSTOM PROJECT VARIABLES */
:root {
  --section-margin: 80px;

  --style-red: #ff2222;
  --style-lightgray: #d2d2d2;
  --style-gray: #9f9f9f;
  --style-brown: #790404;

  /* FONT SIZES IN REM */
  --fs-10: 0.625rem;
  --fs-13: 0.812rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-25: 1.562rem;
  --fs-31: 1.938rem;
  --fs-39: 2.438rem;
  --fs-49: 3.062rem;
  --fs-61: 3.812rem;
}
.container-all {
  padding: 0px 20px;
}
/* REUSABLE CLASSES AND SUCH */
.red {
  color: var(--style-red);
}
.bold {
  font-weight: bold;
}
.btn {
  padding: 6px 20px;
  display: grid;
  place-items: center;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: fit-content;
}
.white-button {
  color: var(--style-red);
  background: white;
}
.white-button:hover {
  background-color: #e9e9e9;
}
.red-button {
  color: white;
  background: var(--style-red);
}
.red-button:hover {
  background-color: #790404;
}
.black-button {
  color: white;
  background: black;
}
.black-button:hover {
  background: #333;
}

/* SECTIONS STYLING ---------------------*/
section + section {
  margin-top: var(--section-margin);
}
section > h1 {
  text-align: center;
}

/* NAVIGATION */
.section--navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  max-width: none;
}
.nav-logo {
  background-image: url(../Images/Logo.png);
  background-size: contain;
  height: 43px;
  width: 109px;
}
.nav-menu-icon {
  background-image: url(../Images/bars.svg);
  background-size: contain;
  height: 30px;
  width: 30px;
}

/* HERO */
.section--hero {
  padding-top: 20px;
  font-size: var(--fs-20);
  line-height: 170%;
  margin-top: 0px;
}
.section--hero-content {
  text-align: center;
}
.section--hero-buttons {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section--hero-image-and-socials {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 17px;
  flex-direction: row;
}
.section--hero-socials {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.socials-button {
  aspect-ratio: 1;
  width: 50px;
  background-size: contain;
  border: 3.5px solid #790404;
  border-radius: 35%;
}
.github {
  background-image: url(../Images/github.png);
}
.linkedin {
  background-image: url(../Images/linkedin.png);
}
.instagram {
  background-image: url(../Images/instagram2.png);
}
.section--hero-image {
  background-image: url(../Images/image_container.png);
  width: 171px;
  aspect-ratio: 171/226;
  background-size: contain;
}

/* SKILLS SECTION------- */
.section--skills {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section--skills-skills-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 40px;
  max-width: 400px;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-icon {
  aspect-ratio: 1;
  height: 64px;
  width: 64px;
  background-size: contain;
}
.skill-name {
  margin-top: 10px;
  font-size: var(--fs-16);
}
.html {
  background-image: url(../Images/html-5.png);
}
.react {
  background-image: url(../Images/react.png);
}
.css {
  background-image: url(../Images/css-3.png);
}
.javascript {
  background-image: url(../Images/js.png);
}
.typescript {
  background-image: url(../Images/typescript.png);
}
.git-github {
  background-image: url(../Images/github.png);
}

/* ABOUT ME */
.section--aboutme p {
  font-size: var(--fs-16);
  margin-top: 20px;
}
.section--aboutme-img {
  background: #555;
  height: 380px;
  width: 100%;
  margin-top: 20px;
}
/* PROJECTS SECTION */
.section--projects-projects-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: var(--fs-16);
}
.project-card {
  max-width: 300px;
  box-shadow: 5px 5px 4px rgb(156, 156, 156);
}
.project-img {
  background: #d9d9d9;
  width: 100%;
  aspect-ratio: 3 / 2.5;
}
.project-card-content {
  padding: 10px 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* CONTACT SECTION */
.section--contact h1 {
  margin: auto;
  font-weight: bold;
}
.section--contact {
  max-width: none;
  margin-top: var(--section-margin);
  padding: 20px 20px 40px;
  background: #320b0b;
  color: white;
  font-size: var(--fs-16);
}
.contact-form {
  display: grid;
  margin: auto;
  gap: 20px;
  grid-template-columns: 100%;
}
.contact-form button {
  margin: 20px auto 0px;
}
.name-input,
.email-input,
.message-input {
  display: flex;
  flex-direction: column;
}
.contact-form input,
textarea {
  border-radius: 3px;
}
.contact-form textarea {
  height: 15ch;
}

/* MEDIA QUERIES */
@media screen and (min-width: 478px) {
  .section--hero-image {
    width: 180px;
  }
  section {
    max-width: 418px;
  }
  .project-card {
    max-width: 418px;
  }
}

@media screen and (min-width: 767px) {
  .container-all {
    padding: 0px 40px;
  }
  section {
    max-width: 686px;
  }
  /* HERO SECTION */
  .section--hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
  }
  .section--hero-content {
    text-align: left;
    max-width: calc(50% - 20px);
  }
  .section--hero-buttons {
    justify-content: start;
    margin-top: 40px;
    gap: 40px;
  }
  .section--hero-image-and-socials {
    margin-top: 0px;
  }

  /* SKILLS SECTION */
  .section--skills-skills-container {
    margin-top: 40px;
    gap: 50px;
    max-width: 550px;
  }
  .skill-icon {
    width: 96px;
    height: 96px;
  }
  .skill-name {
    font-size: var(--fs-25);
  }
  .project-card {
    max-width: 333px;
  }
  .section--contact * {
    max-width: 700px;
  }
}

@media screen and (max-width: 990px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 990px) {
  .nav-menu-icon {
    display: none;
  }
  .nav-menu-icon {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    text-decoration: none;
    color: black;
  }
  .nav-link:hover {
    color: #888;
  }
  .contact {
    color: #ff2222;
  }
  section {
    max-width: 829px;
  }
  .container-all {
    padding: 0px 80px;
  }
  section h1 {
    font-size: var(--fs-25);
  }
  .section--hero {
    gap: 80px;
  }
  .section--hero-content {
    font-size: var(--fs-25);
    line-height: 170%;
  }
  .section--hero-buttons {
    font-size: var(--fs-20);
  }
  .section--hero-buttons button {
    line-height: 170%;
    padding: 10px 30px;
  }
  .section--hero-image {
    width: 256px;
    height: 338px;
  }
  .socials-button {
    height: 76px;
    width: 76px;
  }
  .section--skills-skills-container {
    gap: 60px;
  }
  .section--aboutme p {
    font-size: var(--fs-20);
  }
  .project-card {
    max-width: 404px;
  }
}
@media screen and (min-width: 1440px) {
  section {
    max-width: 1100px;
  }

  section > h1 {
    font-size: var(--fs-31);
  }

  .section--hero-content {
    font-size: var(--fs-31);
    max-width: 640px;
  }
  .section--hero-buttons {
    font-size: var(--fs-25);
    margin-top: 80px;
  }
  .section--skills-skills-container {
    max-width: 100%;
  }
  .skill-icon {
    height: 128px;
    width: 128px;
  }
  .section--aboutme p {
    font-size: var(--fs-25);
  }
  .project-card {
    max-width: 540px;
  }
}
